.login {
  display: block;
  margin: 10px 0px;
}
.login-btn {
  display: inline-block;
  background: #dd4b39;
  color: white;
  width: 180px;
  border-radius: 5px;
  white-space: nowrap;
}
.login-btn:hover {
  background: #e74b37;
  cursor: hand;
}
span.icon {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
span.buttonText {
  vertical-align: middle;
  font-size: 13px;
  font-family: 'Roboto', arial, sans-serif;
  text-align: center;
}
.google span.icon {
  background: url('../img/btn_red_32.png') transparent 5px 50% no-repeat;
}
.facebook span.icon {
  background: url('../img/facebook.png') transparent 5px 50% no-repeat;
}
.facebook .login-btn {
  background: #3B5998;
}
.bg {
  background: #005892;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: -10;
}
.login-container {
  width: 180px;
  padding: 10px;
  margin: 0 auto;
}
