@font-face {
  font-family: ProximaNova;
  src: url("fonts/ProximaNova-Reg.otf") format("opentype");
}
body {
  font-family: 'ProximaNova', serif;
  -webkit-user-select: none;
  -moz-user-select: none;
}
#header {
  background: #005892;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 45px;
}
#header .logo {
  float: left;
  line-height: 40px;
  background: url('../img/Weebly-Logo.png');
  left: 30px;
  top: 7px;
  height: 39px;
  width: 39px;
  margin-left: 10px;
}
#header .logo:hover {
  cursor: pointer;
}
#header .user_info {
  float: right;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  padding: 2px;
  margin-right: 10px;
}
#bodyWrapper {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  overflow: scroll;
  bottom: 0;
}
#navbar {
  width: 223px;
  left: 0;
  bottom: 0;
  top: 45px;
  background: #f5f6f6;
  position: absolute;
}
#navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#navbar li {
  color: #6f757a;
  margin-bottom: 25px;
}
#navbar li.active {
  color: #2181d9;
}
#navbar .links-container {
  /*
    position: absolute;
    top: 50px;
    left: 47px;
    */
  margin-top: 50px;
  margin-left: 47px;
}
#navbar .links-container .link a {
  text-decoration: none;
  color: #6f757a;
}
#navbar .links-container .link.active a {
  color: #2181d9;
}
#navbar .new-page {
  background: #acb0b4;
  /*
    position: absolute;
    left: 22px;
    */
  width: 179px;
  margin-left: 22px;
  height: 37px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  padding: 8px 35px;
  text-decoration: none;
}
#navbar .new-page .text {
  color: white;
  line-height: 37px;
  font-size: 18px;
}
#content {
  position: absolute;
  top: 45px;
  left: 223px;
  right: 0;
  bottom: 0;
  background: white;
}
#content #pageMangementForm {
  position: absolute;
  top: 48px;
  left: 48px;
  right: 48px;
  margin-bottom: 23px;
}
#content #pageMangementForm #title {
  height: 41px;
  margin-bottom: 24px;
}
#content #pageMangementForm #body {
  height: 271px;
}
#content #pageMangementForm .input-field {
  color: #6f757a;
  border: none;
  background: white;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #acb0b4;
  line-height: 30px;
  padding-left: 15px;
  box-sizing: border-box;
}
#content #pageMangementForm .input-field:focus {
  outline: none;
}
#content #pageMangementForm .divider {
  position: absolute;
  bottom: 68px;
  width: 100%;
}
#content #pageMangementForm #info {
  margin-top: 23px;
}
#content #pageMangementForm #info #permalink {
  float: left;
  width: 50%;
  text-align: left;
}
#content #pageMangementForm #info #lastUpdated {
  float: right;
  width: 50%;
  text-align: right;
}
#content #pageMangementForm #info .text {
  color: #acb0b4;
}
#content #pageMangementForm #info .text .link {
  color: #2990ea;
  text-decoration: none;
}
#content #pageMangementForm #actions {
  margin-top: 205px;
  width: 100%;
}
#content #pageMangementForm #actions .buttons-container {
  float: right;
}
#content #pageMangementForm #actions .button {
  border: none;
  border-radius: 4px;
  width: 89px;
  height: 36px;
  font-size: 16px;
  margin-left: 12px;
}
#content #pageMangementForm #actions .button:hover {
  cursor: pointer;
}
#content #pageMangementForm #actions a.button {
  padding: 8px 21px;
  text-decoration: none;
}
#content #pageMangementForm #actions #delete-btn {
  background: #ced0d2;
  color: #6f757a;
}
#content #pageMangementForm #actions #save-btn {
  background: #2181d9;
  color: #ffffff;
}
.icon {
  background: url('../img/Add-Delete-Edit-Icons.png');
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  background-size: 80px 80px;
  vertical-align: middle;
}
.icon.add {
  background-position: -8px;
  margin-bottom: 4px;
}
.icon.edit {
  right: 10px;
  background-position: -39px;
}
.icon.delete {
  right: 5px;
  background-position: -64px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon {
    background: url('../img/Add-Delete-Edit-Icons@2x.png');
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    background-size: 100px 100px;
    vertical-align: middle;
  }
  .icon.add {
    background-position: -13px;
  }
  .icon.edit {
    background-position: -39px;
  }
  .icon.delete {
    background-position: -64px;
  }
}
